doctype html
html
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  script.
    (function(document,navigator,standalone) {
    // prevents links from apps from oppening in mobile safari
    // this javascript must be the first script in your <head>
    if ((standalone in navigator) && navigator[standalone]) {
      var curnode, location=document.location, stop=/^(a|html)$/i;
      document.addEventListener('click', function(e) {
        curnode=e.target;
        while (!(stop).test(curnode.nodeName)) {
          curnode=curnode.parentNode;
        }
        // Condidions to do this only on links to your own app
        // if you want all links, use if('href' in curnode) instead.
        if(
          'href' in curnode && // is a link
          (chref=curnode.href).replace(location.href,'').indexOf('#') && // is not an anchor
          (	!(/^[a-z\+\.\-]+:/i).test(chref) ||                       // either does not have a proper scheme (relative links)
            chref.indexOf(location.protocol+'//'+location.host)===0 ) // or is in the same protocol and domain
        ) {
          e.preventDefault();
          location.href = curnode.href;
        }
      },false);
    }
    })(document,window.navigator,'standalone');
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#nav
      ul
        li
          if(currentURL == '/0')
            a(href='/0').current #{titles[0]}
          else
            a(href='/0') #{titles[0]}
        li
          if(currentURL == '/1')
             a(href='/1').current #{titles[1]}
          else
             a(href='/1') #{titles[1]}
        li
          if(currentURL == '/2')
             a(href='/2').current #{titles[2]}
          else
             a(href='/2') #{titles[2]}
    table
      tbody
        each marker in locations
          tr
            td
              body #{marker.time}#{marker.distance}

    p #{update_time}

    table
      tbody
        each marker in locations
          tr
            img(src="http://maps.google.cn/maps/api/staticmap?center=+38.91607726,-77.20676137&zoom=13&size=400x300&markers=#{marker.location}&sensor=false")
